<h2>Create New Post</h2>

<form class="form new-post-form">
  <div class="form-group">
    <label for="title">Title:</label>
    <input class="form-input" type="text" id="title" />
  </div>
  <div class="form-group">
    <label for="content">Content:</label>
    <input class="form-input" type="text" id="content" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" id="new-post-form" type="submit">Create!</button>
  </div>

<script src="/js/new.js"></script>